<div class="row">
    <div class="col-md-4">
        <div id="spark1">
            <ng-mschart #chart 
                [series]="spark1.series"
                [xaxis]="spark1.xaxis"
                [chart]="spark1.chart"
                [title]="spark1.title" 
                [stroke]="spark1.stroke"
                [fill]="spark1.fill"
                [yaxis]="spark1.yaxis"
                [colors]="spark1.colors"
                [subtitle]="spark1.subtitle">
            </ng-mschart>
        </div>
    </div>
    <div class="col-md-4">
        <div id="spark2"></div>
    </div>
    <div class="col-md-4">
        <div id="spark3"></div>
    </div>
</div>
