<div class="sidebar">
  <a class="active">Home</a>
  <button class="dropdown-btn" (click)="expand($event, 'line')">Line
    <i class="fa" [ngClass]="carot"></i>
  </button>
  <div class="dropdown-container" [ngStyle]="{'display': lineTypesDisplay}">
    <a (click)="onClick($event, 'line_basic')">Basic</a>
    <a (click)="onClick($event, 'line_brush')">Brush</a>
  </div>
</div>

<!-- Page content -->
<div class="content">
  <line-basic *ngIf="show.line_basic"></line-basic>
  <line-brush *ngIf="show.line_brush"></line-brush>
</div>
<router-outlet></router-outlet>